@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");
body .container .container-listagem .container-lista .container-contas .container-titulos, body .container .container-listagem .container-lista .container-contas, body .container .container-listagem .container-lista .container-pesquisa button, body .container .container-listagem .container-lista .container-pesquisa, body .container .container-listagem .container-lista, body .container .container-listagem, body .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container .container-listagem {
  background-color: #FFFFFE;
  box-shadow: 0 0 3px rgba(156, 156, 156, 0.342);
  border-radius: 15px;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
body .acoes {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body .btn-editar, body .btn-excluir {
  background-color: #3562D7;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
body .container {
  background-color: #FAF9F9;
  height: 100dvh;
}
body .container .container-listagem {
  flex-direction: column;
  height: 80%;
  width: 50%;
}
body .container .container-listagem-titulo {
  margin: 0;
  font-size: 40px;
}
body .container .container-listagem .container-lista {
  width: 100%;
  flex-direction: column;
  margin-bottom: 40px;
}
body .container .container-listagem .container-lista .container-pesquisa {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
}
body .container .container-listagem .container-lista .container-pesquisa input {
  width: 70%;
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid rgba(165, 165, 165, 0.473);
  border-radius: 15px;
}
body .container .container-listagem .container-lista .container-pesquisa input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(165, 165, 165, 0.473);
}
body .container .container-listagem .container-lista .container-pesquisa button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #3562D7;
  color: #FFFFFE;
  border: none;
  border-radius: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  margin-left: 20px;
}
body .container .container-listagem .container-lista .container-contas {
  width: 91%;
  flex-direction: column;
  padding: 10px;
}
body .container .container-listagem .container-lista .container-contas .container-titulos {
  border: 2px solid #3562D7;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  margin-bottom: 10px;
  gap: 60px;
}
body .container .container-listagem .container-lista .container-contas .container-titulos h3 {
  margin: 0;
}
body .container .container-listagem .container-lista .container-contas .container-titulos .nome-container,
body .container .container-listagem .container-lista .container-contas .container-titulos .email-container,
body .container .container-listagem .container-lista .container-contas .container-titulos .cpf-container,
body .container .container-listagem .container-lista .container-contas .container-titulos .senha-container,
body .container .container-listagem .container-lista .container-contas .container-titulos .data-container {
  width: 20%;
  text-align: center;
}
body .container .container-listagem .container-lista .container-contas .dados-contas {
  width: 100%;
  height: 400px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
body .container .container-listagem .container-lista .container-contas .dados-contas .linha {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  width: 100%;
}
body .container .container-listagem .container-lista .container-contas .dados-contas .acoes-container {
  width: auto;
}
body .container .container-listagem .container-lista .container-contas .dados-contas .nomes,
body .container .container-listagem .container-lista .container-contas .dados-contas .email,
body .container .container-listagem .container-lista .container-contas .dados-contas .cpf,
body .container .container-listagem .container-lista .container-contas .dados-contas .senha,
body .container .container-listagem .container-lista .container-contas .dados-contas .data {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body .container .container-listagem .container-lista .container-contas .dados-contas .nomes .listagem-nomes,
body .container .container-listagem .container-lista .container-contas .dados-contas .email .listagem-nomes,
body .container .container-listagem .container-lista .container-contas .dados-contas .cpf .listagem-nomes,
body .container .container-listagem .container-lista .container-contas .dados-contas .senha .listagem-nomes,
body .container .container-listagem .container-lista .container-contas .dados-contas .data .listagem-nomes {
  max-width: 100%;
  text-align: center;
  margin: 0;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
body .container .container-listagem .container-lista .container-contas .dados-contas .nomes .conta,
body .container .container-listagem .container-lista .container-contas .dados-contas .email .conta,
body .container .container-listagem .container-lista .container-contas .dados-contas .cpf .conta,
body .container .container-listagem .container-lista .container-contas .dados-contas .senha .conta,
body .container .container-listagem .container-lista .container-contas .dados-contas .data .conta {
  max-width: 100%;
  height: 100%;
}/*# sourceMappingURL=listagem.css.map */