@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

// Variáveis --------------------------------------------------
$colors: (
  primary: #3562D7,
  link: #3462D8,
  bg: #FAF9F9,
  white: #FFFFFE,
  border: rgba(165, 165, 165, 0.473)
);

$font-main: 'Noto Sans', sans-serif;

$font-size: (
  label: 22px,
  input: 16px,
  button: 20px
);

// Placeholders --------------------------------------------------
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%card {
  background-color: map-get($colors, white);
  box-shadow: 0 0 3px rgba(156, 156, 156, 0.342);
  border-radius: 15px;
}

// Mixins --------------------------------------------------
@mixin input {
  width: 70%;
  height: 40px;
  padding: 0 15px;
  font-size: map-get($font-size, input);
  font-family: $font-main;
  border: 1px solid map-get($colors, border);
  border-radius: 15px;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: map-get($colors, border);
  }
}

@mixin button($w: 180px, $h: 50px) {
  @extend %flex-center;
  width: $w;
  height: $h;
  font-size: map-get($font-size, button);
  background-color: map-get($colors, primary);
  color: map-get($colors, white);
  border: none;
  border-radius: 8px;
  font-family: $font-main;
}

// Base --------------------------------------------------
body {


  .acoes {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100%
  }

  .btn-editar, .btn-excluir {
    background-color: map-get($colors, primary);
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  margin: 0;
  font-family: $font-main;

  .container {
    background-color: map-get($colors, bg);
    height: 100dvh;
    @extend %flex-center;

    .container-listagem {
      @extend %card;
      @extend %flex-center;
      flex-direction: column;
      height: 80%;
      width: 50%;

      &-titulo {
        margin: 0;
        font-size: 40px;
      }

      .container-lista {
        width: 100%;
        @extend %flex-center;
        flex-direction: column;
        margin-bottom: 40px;

        .container-pesquisa {
          @extend %flex-center;
          width: 50%;
          margin-bottom: 20px;
          padding: 10px;

          input {
            @include input();
          }

          button {
            @include button(100px, 40px);
            font-size: 15px;
            margin-left: 20px;
          }
        }

        .container-contas {
          width: 91%;
          @extend %flex-center;
          flex-direction: column;
          padding: 10px;

          .container-titulos {
            @extend %flex-center;
            border: 2px solid map-get($colors, primary);
            border-radius: 20px;
            padding: 10px;
            width: 90%;
            margin-bottom: 10px;
            gap: 60px;

            h3 {
              margin: 0;
            }

            .nome-container,
            .email-container,
            .cpf-container,
            .senha-container,
            .data-container {
              width: 20%;
              text-align: center;
            }
          }

          .dados-contas {
            width: 100%;
            height: 400px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;

            .linha {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              height: 20%;
              width: 100%;
            }

            .acoes-container {
              width: auto;
            }

            .nomes,
            .email,
            .cpf,
            .senha,
            .data {
              height: 100%;
              width: 20%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;

              .listagem-nomes {
                max-width: 100%;
                text-align: center;
                margin: 0;
                white-space: normal;
                word-break: break-word;
                overflow-wrap: break-word;
              }

              .conta {
                max-width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}