@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

// variaveis --------------------------------------------------
$colors: (
  primary: #3562D7,
  bg: #FAF9F9,
  white: #FFFFFE,
  border: rgba(165, 165, 165, 0.473)
);

$font-main: 'Noto Sans', sans-serif;

$font-size: (
  input: 16px,
  button: 20px
);

// placeholders --------------------------------------------------
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%card {
  background-color: map-get($colors, white);
  box-shadow: 0 0 3px rgba(156, 156, 156, .342);
  border-radius: 15px;
}

// mixins --------------------------------------------------
@mixin button($w: 180px, $h: 50px) {
  @extend %flex-center;
  width: $w;
  height: $h;
  font-size: map-get($font-size, button);
  background-color: map-get($colors, primary);
  color: map-get($colors, white);
  border: none;
  border-radius: 8px;
  font-family: $font-main;
}

// base --------------------------------------------------
body {
  margin: 0;
  font-family: $font-main;
}

.container {
  background-color: map-get($colors, bg);
  height: 100dvh;
  @extend %flex-center;

  .container-perfil {
    @extend %card;
    @extend %flex-center;
    flex-direction: column;
    height: 70%;
    width: 25%;
    padding-top: 30px;
    padding-bottom: 30px;

    &-titulo {
      font-size: 40px;
      margin: 0 0;
    }

    .container-conteudo {
      width: 80%;
      height: 60%;
      @extend %flex-center;
      flex-direction: column;
      gap: 10px;

      .container-nome,
      .container-email,
      .container-cpf,
      .container-senha {
        width: 100%;
        display: flex;
        margin: 0;
        align-items: flex-end;
        height: 50px;

        h3 {
          margin: 0;
          font-size: 25px;
        }

        p {
          margin: 0;
          font-size: 20px;
        }
      }
    }

    button {
      @include button();
      margin-bottom: 10px;
    }
  }
}
